In [5]:
#!/bin/python3
import numpy as np
import math
import os
import random
import re
import sys

In [13]:
a = np.arange(1, 17).reshape(4,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [14]:
a[0][0]

1

In [57]:
b = [11, 2, 4, 4, 5, 6, 10, 8, -12]
b = np.array(b).reshape(3,3) 
b

array([[ 11,   2,   4],
       [  4,   5,   6],
       [ 10,   8, -12]])

In [128]:
##pseudo code 
def diagonalDiefference(arr):   
    d1 = 0  
    d2 = 0  
    
    i = 0  
    j = len(arr) - 1
    
    for i in range(0, len(arr)): 
        d1 = d1 + arr[i][i]  
        i = i + 1    
        d2 = arr[j][j] 
        j = j - 1
    
    
    sum = abs(d1 + d2)
    return sum

In [129]:
diagonalDiefference(b)

15

In [ ]:
d2 = 0 
    j = len(arr) 
    for j in range(0, len(arr)): 
        d2 = d2 + a[j][j]  
        j = j - 1
    
    sum = abs(d1-d2)
    return sum, d1, d2

In [7]:
def solve(meal_cost, tip_percent, tax_percent): 
    
    tip = meal_cost * (tip_percent/100)
    tax = meal_cost * (tax_percent/100)
    
    total = meal_cost + tip + tax
    
    return int(total)

In [8]:
solve(12, 20, 8)

15

In [ ]:
tip = (meal_cost * tip_percent) / 100
tax = (meal_cost * tax_percent) / 100
totalCost = int(round(meal_cost + tip + tax))
print(totalCost)

In [36]:
def werid_notweird(N): 
    if N % 2 != 0:  
        print('Weird') 
    elif N % 2 ==0:  
        if N > 5 and N < 21: 
            print('Weird')
        else: 
            print('Not Weird')

In [37]:
werid_notweird(20)

Weird

In [51]:
def multiply(N): 
    for i in range(1, 11): 
        product = N * i
        print(f"{} x {i} = {N * i}".format(N))

SyntaxError: f-string: empty expression not allowed (<ipython-input-51-aa5faef82066>, line 4)

In [52]:
multiply(4)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
def even_string(string)