In [1]:
name = "Sam" 
last_letters = name[1:]
'P' + last_letters

'Pam'

In [3]:
x = 'Hello World'
y = " it is beautiful outside!"
x + y

'Hello World it is beautiful outside!'

In [5]:
x * 10

'Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World'

In [8]:
print(f'Hello, his name is {name}')

Hello, his name is Sam

In [13]:
my_list = [1,2,3,4,5,6]
popped_item = my_list.pop()

In [14]:
my_list

[1, 2, 3, 4, 5]

In [15]:
my_list.pop(0)

1

In [16]:
alpha_list = ['h', 'g', 'p', 'a']
#occurs inplace - meaning it does not need a variable to be assigned to it
alpha_list.sort()

In [17]:
alpha_list

['a', 'g', 'h', 'p']

In [18]:
alpha_list.reverse()
alpha_list

['p', 'h', 'g', 'a']

In [19]:
prices_grocery = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [20]:
prices_grocery['apple']

2.99

In [22]:
prices_grocery['apple'] = 4.99

In [23]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8}

In [24]:
prices_grocery['bannanas'] = 7.99

In [25]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8, 'bannanas': 7.99}

In [26]:
prices_grocery.keys()

dict_keys(['apple', 'oranges', 'milk', 'bannanas'])

In [27]:
prices_grocery.values()

dict_values([4.99, 1.99, 5.8, 7.99])

In [28]:
#retures the pairs as a tuple
prices_grocery.items()

dict_items([('apple', 4.99), ('oranges', 1.99), ('milk', 5.8), ('bannanas', 7.99)])

In [29]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8, 'bannanas': 7.99}

In [2]:
x = 0 

while x < 5: 
    print(f'The current value of x is {x}') 
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [3]:
mylist = [1, 2, 3]
for num in range(0,11,2): 
    print(num)

0
2
4
6
8
10

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
index_count = 0 
word = 'abcde'
for letter in word: 
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [9]:
for letter in enumerate(word): 
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [13]:
mylist1 = [1,2]
mylist2 = ['a', 'b']  
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3): 
    print(item)

(1, 'a', 100)
(2, 'b', 200)

In [14]:
'x' in [1,2,3]

False

In [17]:
'mykey' in {'mykey':345}

True

In [18]:
mylist = [10,20,30,100]

In [19]:
min(mylist)

10

In [20]:
max(mylist)

100

In [21]:
from random import shuffle

In [22]:
mylist = [1,2,3,4,5,6,7,8,9]

In [23]:
shuffle(mylist)

In [24]:
mylist

[4, 5, 6, 3, 2, 9, 8, 7, 1]

In [25]:
from random import randint

In [26]:
randint(0,100)

33

In [27]:
mynum = randint(0,10)

In [28]:
input('Enter a number here:')

Enter a number here:50

'50'

In [29]:
result = input('What is your name?')

What is your name?kristen

In [31]:
mystring = 'hellow'
mylist = []

for letter in mystring: 
    mylist.append(letter)

In [32]:
mylist = [letter for letter in mystring]

In [33]:
mylist

['h', 'e', 'l', 'l', 'o', 'w']

In [35]:
mylist

['w', 'o', 'r', 'd']

In [36]:
mylist = [num for num in range(0,11)]

In [37]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
mylist = [num**2 for num in range(0,11)]

In [39]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [45]:
celcius = [0,10,20,30,40]
fahrenheity = [((9/5)*temp +32) for temp in celcius]

In [46]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [47]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [1]:
mylist = [1,2,3,4]

In [3]:
mylist.insert(2,5)

In [4]:
mylist

[1, 2, 5, 3, 4]

In [6]:
def say_hello(): 
    print('Hello')

In [7]:
say_hello()

Hello

In [8]:
say_hello

In [13]:
def say_hello(name='Default'): 
    print(f'Hello {name}')

In [14]:
say_hello('Kristen')

Hello Kristen

In [16]:
say_hello()

Hello Default

In [17]:
def add_num(num1, num2): 
    return num1+num2

In [18]:
add_num(3,4)

7

In [19]:
def myfun(a,b): 
    print(a+b)
    return (a+b)

In [21]:
myfun(10, 20)

30

30

In [23]:
def sum_numbers(num1, num2): 
    return num1 + num2

In [24]:
2 % 2

0

In [25]:
3 % 2

1

In [26]:
41 % 40

1

In [27]:
20 % 2

0

In [28]:
20 % 2 == 0

True

In [29]:
21 % 2 ==0

False

In [30]:
def even_check(number): 
    return number % 2 == 0

In [31]:
even_check(20)

True

In [32]:
even_check(21)

False

In [41]:
def check_even_list(num_list): 
    for number in num_list: 
        if number % 2 == 0: 
            even_numbers = even_numbers.append(number)
        else: 
            pass 
    return False

In [42]:
check_even_list(mylist)

UnboundLocalError: local variable 'even_numbers' referenced before assignment

In [38]:
check_even_list([1,3,5])

False