In [1]:
name = "Sam" 
last_letters = name[1:]
'P' + last_letters

'Pam'

In [3]:
x = 'Hello World'
y = " it is beautiful outside!"
x + y

'Hello World it is beautiful outside!'

In [5]:
x * 10

'Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World'

In [8]:
print(f'Hello, his name is {name}')

Hello, his name is Sam

In [13]:
my_list = [1,2,3,4,5,6]
popped_item = my_list.pop()

In [14]:
my_list

[1, 2, 3, 4, 5]

In [15]:
my_list.pop(0)

1

In [16]:
alpha_list = ['h', 'g', 'p', 'a']
#occurs inplace - meaning it does not need a variable to be assigned to it
alpha_list.sort()

In [17]:
alpha_list

['a', 'g', 'h', 'p']

In [18]:
alpha_list.reverse()
alpha_list

['p', 'h', 'g', 'a']

In [19]:
prices_grocery = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [20]:
prices_grocery['apple']

2.99

In [22]:
prices_grocery['apple'] = 4.99

In [23]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8}

In [24]:
prices_grocery['bannanas'] = 7.99

In [25]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8, 'bannanas': 7.99}

In [26]:
prices_grocery.keys()

dict_keys(['apple', 'oranges', 'milk', 'bannanas'])

In [27]:
prices_grocery.values()

dict_values([4.99, 1.99, 5.8, 7.99])

In [28]:
#retures the pairs as a tuple
prices_grocery.items()

dict_items([('apple', 4.99), ('oranges', 1.99), ('milk', 5.8), ('bannanas', 7.99)])

In [29]:
prices_grocery

{'apple': 4.99, 'oranges': 1.99, 'milk': 5.8, 'bannanas': 7.99}

In [1]:
t = ('a', 'a', 'b')

In [2]:
t.count('a')

2

In [3]:
t.index('a')

0

In [4]:
mylist = [1,2,3]

In [6]:
myset = set()

In [8]:
myset.add(1)

In [9]:
myset

{1}

In [10]:
False

False

In [11]:
type(False)

bool

In [12]:
1 > 4

False

In [13]:
1 == 34

False

In [14]:
%%writefile myfile.txt
helloo hello

Writing myfile.txt

In [16]:
myfile = open('myfile.txt')

In [18]:
myfile

In [19]:
%%writefile text.txt 
print('hello world')

Writing text.txt

In [21]:
test = open('text.txt')

In [23]:
test.read()

"print('hello world')\n"

In [26]:
test.seek(0)

0

In [27]:
contents = myfile.read()

In [28]:
contents

''

In [29]:
myfile.seek(0)

0

In [30]:
myfile.readlines()

['helloo hello\n']

In [1]:
%%writefile myfile.txt 
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [2]:
myfile = open('myfile.txt')

In [3]:
pwd

'/Users/kristen/MOOKs'

In [4]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [7]:
myfile.read()

''

In [8]:
myfile.seek(0)

0

In [10]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [11]:
myfile.close()

In [12]:
with open('myfile.txt') as my_new_file: 
    contents = my_new_file.read()

In [13]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [17]:
with open('myfile.txt',mode='r') as myfile: 
    contents = myfile.read()

In [26]:
%%writefile my_new_file.txt
ONE ON FIRST  
TWO ON SECOND

Overwriting my_new_file.txt

In [27]:
with open('my_new_file.txt', mode='a') as f: 
    f.write('THREE ON THIRD')

In [28]:
with open('my_new_file.txt', mode='r') as f: 
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [29]:
#python created this file with the w mode
with open('dkfadlkfja', mode='w') as f: 
    f.write('I created this file')

In [ ]:
with open('dkfadlkfja')

comparison operators in python

In [ ]:
2 == 2 #check for equality one = asign a variable 
#when comparing strings capitalization counts  
#floats and ints true if same value 
3 != 3 #nonequality/ not equal

In [30]:
1 < 2 < 3

True

In [31]:
1  < 2 and 2 > 3

False

In [32]:
100 == 1 or 2 == 2

True

In [38]:
hungry = False 

if hungry: 
    print('FEED ME!') 
else:  
    print('NO THANK YOU')

NO THANK YOU

In [39]:
loc = 'bank' 
if loc == 'Auto Shop': 
    print('Cars are cool') 
elif loc == 'bank': 
    print('Money is cool!')
else: 
    print('I do not think that is a shop')

Money is cool!

checking update

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10] 
for num in mylist: 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
for jelly in mylist: 
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
for num in mylist: 
    #check for even 
    if num % 2 == 0: 
        print(num)

2
4
6
8
10

In [4]:
list_sum = 0 
for num in mylist: 
    list_sum = list_sum +num 
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
mystring = 'Hello World'

for letter in mystring: 
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [6]:
for _ in 'Hello World': 
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [7]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [9]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [1]:
for item in mylist: 
    print(item)

NameError: name 'mylist' is not defined

In [36]:
class Dog(): 
    
    #class object attribute 
    #same for any instance of a class 
    species = 'mammal'
    
    def __init__(self,breed,name):  
        #attributes 
        #we take in the argument 
        #assign it using self.attribute_name
        self.breed = breed  
        self.name = name 
    
    #operations/ actions --> methods 
    def bark(self, number):  
        print(f"Woof! My name is {self.name} and the number is {number}")

In [30]:
my_dog = Dog('Lab','Frankie')

In [31]:
type(my_dog)

__main__.Dog

In [32]:
my_dog.species

'mammal'

In [33]:
my_dog.name

'Frankie'

In [37]:
my_dog.bark(1)

Woof! My name is Frankie and the number is1